<section class='reader container'>
  <article class='reader-container'>
    <div class='reader-head'>
      <h2 class ='reader-title'> <%= @post.title %> by: <%= @post.author.name %> </h2>
      <p class='post-counter user-counter'>Comments: <%= @post.comments_counter =%>, Likes: <%= @post.likes_counter =%> </p>
    </div>
    <p class='reader-post'> <%= @post.text * 70 =%> </p>
  </article>
  <div class='comment-container'>
      <% @post.comments.each do |comment| %>
        <li class='comment'>
          <p class ='comment-text'><b><i class='comment-name'> <%= comment.author.name %>: </i></b> <%= comment.text %> </p>
        </li>
      <% end %>
    </div>
</section>
